<div class="row">	
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        {{#if filtered}}
            <div class="product-layout left-pad-30 col-md-12">
                <strong>Showing results for: {{search_term}}</strong>
            </div>
        {{/if}}
        <div class="product-layout col-md-12">
            {{#ifCond results.length '==' 0}}
                <div class="col-md-12">
                    <p class="text-danger">No products found</p>
                </div>
            {{/ifCond}}
            {{#each results}}
                <div class="col-md-3">
                    <div class="thumbnail">
                        {{#if product_permalink}}
                            <a class="btn btn-success product_by" data-id="{{this.product_by}}" role="button">{{product_by}}</a>
                            <div class="product_wrapper">
                                <a href="/product/{{this.product_permalink}}">
                                    <div class="vertical-center thumbnail-image-container">
                                        {{#if product_image}}
                                            <img class="img-responsive" src="{{this.product_image}}" alt="...">
                                        {{else}}
                                            <img class="img-responsive" src="/uploads/placeholder.png" alt="...">
                                        {{/if}}
                                    </div>
                                    <h3 class="product-title product-title-home top-pad-10">
                                        {{this.product_title}}
                                    </h3>
                                </a>
                            </div>
                        {{else}}                     
                            <a href="/product/{{this.id}}">
                                <div class="vertical-center thumbnail-image-container">
                                    {{#if product_image}}
                                        <img class="img-responsive" src="{{this.product_image}}" alt="...">
                                    {{else}}
                                        <img class="img-responsive" src="/uploads/placeholder.png" alt="...">
                                    {{/if}}
                                </div>
                                <h3 class="product-title product-title-home top-pad-10">
                                    {{this.product_title}}
                                </h3>
                            </a>
                        {{/if}}
                        <h3 class="product-price text-center">
                            {{format_amount product_price}}
                        </h3>
                        <p class="text-center">
                                <a class="btn btn-primary add-to-cart" data-id="{{this.id}}" role="button">Add to cart</a>
                        </p>
                    </div>
                </div>
            {{/each}}
        </div>
	</div>
</div>