<div class="row">	
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        {{#if filtered}}
            <div class="product-layout left-pad-30 col-md-12">
                <strong>Showing results for: {{search_term}}</strong>
            </div>
        {{/if}}
        <div class="product-layout col-md-12">
            {{#ifCond results.length '==' 0}}
                <div class="col-md-12">
                    <p class="text-danger">No products found</p>
                </div>
            {{/ifCond}}
            {{#each results}}
                <div class="row" style="background-color: white; border-radius: 2px; color: rebeccapurple">
                    <div class="col-sm-8">
                    <h2>{{this.company_name}}</h2>
                    <h4>{{this.address}}, {{this.city}}, {{this.province}}</h4>      
                    <br>
                        <p style="text-align: justify">{{this.company_desc}}</p>
                    <br>
                    <br>
                    </div>
                    <br>
                    <div class="col-sm-4" style="float: right">
                     
                      <div class="row" style="padding-right: 10px">
                           <img src="{{this.photo}}" alt="" style="float: right; width: 200px; border-radius: 10px; background-repeat: round">
                      </div>
                      <div class="row" style="margin-top: 40%; float: right; padding-right: 10px">
                          <button class="btn btn-default btn-lg">Selengkapnya</button>
                      <br>
                      <br>
                      </div>
                      
                    </div>
                </div>
                <br>
            {{/each}}
        </div>
	</div>
</div>